<div class="container">
<footer class="footer">
     <div class="row">
       <div class="col-sm-4">
          <h3>REAL PEOPLE REAL RESULTS.</h3>
           <img src="images/5.jpg" alt="" width="160" height="auto">
        
        <!-- <img src="images/" alt=""> -->

          
       </div>
       <div class="col-sm-4">
          <h3>FITNESS</h3>
          <a href="#" style="color:#fff;">Workouts</a><br>
          <a href="#" style="color:#fff;">Tutorials</a><br>
          <a href="#" style="color:#fff;">Health Plans</a><br>
          <a href="#" style="color:#fff;">Sitemap</a><br>
       </div>
       <div class="col-sm-4">
         <!-- <div class="thumbnail center well well-sm text-center"> -->
                <h3>NEWSLETTER</h3>
                <form action="" method="post" role="form" style="width:80%; padding-left:13%;" >
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-envelope" height="10"></i>
                      </span>
                      <input class="form-control" type="text" id="" name="" placeholder="your@email.com" style=" margin-top: 0;">
                    </div>
                    <br> 
                    <input type="submit" value="Subscribe" class="btn btn-large btn-success " />
              </form>
            <!-- </div>    -->

       </div>
     </div>
     <br>
       <p class="footer-company-name">Company Name &copy; 2015</p>
      

      
     </footer>
     </div>